name: Sync Premier League Data

on:
  schedule:
    - cron: '0 23 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Sync data
        run: yarn && node scripts/fetch-matches.mjs

      # Commit only if there are changes
      - name: Check for changes
        id: gitcheck
        run: echo "::set-output name=changed::$(git status --porcelain | wc -l)"

      - name: Commit changes
        if: steps.gitcheck.outputs.changed != '0'
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add -A
          git commit -m "chore: sync Premier League data"
          git push
